:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
  }
  
  .login,
  .image {
    min-height: 100vh;
  }
  
  .bg-image {
    background-image: url('https://fsb.zobj.net/crop.php?r=NxxkX9tWNfoBzliGWSpgMEMCEiAbOPBO1hsODdrK34jarhiMrpqDyvDT4t3qXog2qBiYfk_ekhY2CByl7puTJXXkyyihtfmlWG54RXZNJdGMC8SfilmzoL2M18G2sAvr8mYKxx0HyxD8FYzI');
    background-size: cover;
    background-position: center;
  }
  
  .login-heading {
    font-weight: 300;
  }
  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    border-radius: 2rem;
  }
  
 
  

  

  

